<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645216141904-vsa02c83q7tp9036qagf3vv2jod240a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645216141904-vsa02c83q7tp9036qagf3vv2jod240a1</string>
	<key>API_KEY</key>
	<string>AIzaSyBszO9cIKtS-lfENcBG42Pw57bb4FJM1-U</string>
	<key>GCM_SENDER_ID</key>
	<string>645216141904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication8</string>
	<key>PROJECT_ID</key>
	<string>deneme-6bcf1</string>
	<key>STORAGE_BUCKET</key>
	<string>deneme-6bcf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645216141904:ios:3b9db3b14804e22520c755</string>
</dict>
</plist>