<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425313425649-4gb3uaqk8b4bvsu8ud9pkf0h82qn56dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425313425649-4gb3uaqk8b4bvsu8ud9pkf0h82qn56dr</string>
	<key>API_KEY</key>
	<string>AIzaSyD1zTug2R88xy81b7jzcQ3IiM7dx9VGDzo</string>
	<key>GCM_SENDER_ID</key>
	<string>425313425649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication9</string>
	<key>PROJECT_ID</key>
	<string>ooo-aa-s-a-s</string>
	<key>STORAGE_BUCKET</key>
	<string>ooo-aa-s-a-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425313425649:ios:9b3b16f6a9d4e7ccf87150</string>
</dict>
</plist>